{
  "DataExtractionFunction": {
    "BUCKET_NAME": "local-dummy-bucket",
    "TABLE_NAME": "local-dummy-table",
    "STORAGE_MODE": "BOTH",
    "SOURCE_URL": "http://books.toscrape.com/",
    "MAX_PAGES": "1"
  }
}
